---
import Base from "../layouts/Base.astro";
---
<Base title="CV — Kevin Hernandez">
  <h2 class="h2">Kevin Hernandez</h2>
  <p>kh78@rice.edu · <a target="_blank" href="https://www.linkedin.com/in/kevin-hernandez03/">LinkedIn</a> · (936) 283-7182</p>

  <h3 class="h2">Research Interests</h3>
  <p>Social computing · empirical studies · human-computer interaction (HCI). I am curious about how youth build critical AI literacy and techno-social change agency, equipping them to contest and shape AI’s design and governance. Through community-centered research, I create interventions that redistribute power and enable democratic oversight of AI in contexts from education to local governments.</p>

  <h3 class="h2">Education</h3>
  <ul>
    <li><b>Rice University</b>, B.A. Computer Science (Distinction in Research & Creative Works), GPA 3.9, 2025. Honors Thesis: <i>QuantAid: A Constructivist Model to Improve Quantum Education for Early Learners</i>.</li>
  </ul>

  <h3 class="h2">Skills</h3>
  <p><b>Languages:</b> HTML, CSS, PHP, Java, JavaScript, Go, TypeScript, Python, MySQL, C, AutoDesk/CAD, Swift</p>
  <p><b>Frameworks:</b> React, Next.js, Flask, Express.js, SwiftUI, Bootstrap</p>
  <p><b>Libraries/Tools:</b> OpenAI APIs, Git, RAG, LangChain, Gazetracker.js, Heatmap.js, Matplotlib, bcrypt, MongoDB Atlas, GridFS, Google OAuth, jQuery, REST, STISIM, pandas, NumPy</p>
  <p><b>Interface/UX:</b> Figma, Photoshop, Sketch, Storyboarding, Wireframing, Responsive Design, Accessibility-Oriented Design</p>
  <p><b>Prototyping:</b> Arduino, Raspberry Pi, GoGo Board, 3D Printing</p>
  <p><b>Research Methods:</b> Interviews, focus groups, experiments, surveys, behavioral data collection; NLP/ML (PyTorch), OOP (Java), DS&A, SQL/NoSQL (MySQL, MongoDB, Neo4J), viz (matplotlib, ggplot, Tableau, mapbox, geojson)</p>
  <p><b>Languages:</b> Spanish (native), French (beginner)</p>
  <p><b>Interests:</b> skiing, rock climbing, weight training, gymnastics, classical piano, trumpet, composition, Mexican cuisine, matcha :p</p>
</Base>
